img {
    width: 80%;
}

.image {
    text-align: center;
    padding-top: 20px;
}

.horizontal-line {
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    width: 500px;
    margin-top: 80px;
}

.horizontal-line1 {
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    width: 500px;
}

.row-color {
    color: white;
    margin-bottom: 50px;
}

.about-button {
    margin-top: -5px;
}

.logo {
    width: 140px;
    height: 28px;
    margin-top: -2px;
}

.main {
    width: 50%;
}