img {
    width: 80%;
}

.image {
    text-align: center;
    padding-top: 20px;
}

.horizontal-line {
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    width: 500px;
    margin-top: 80px;
}

.horizontal-line1 {
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    width: 400px;
}
