img {
    width: 80%;
}

.image {
    text-align: center;
    padding-top: 20px;
}

.horizontal-line {
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    width: 500px;
    margin-top: 80px;
}

.horizontal-line1 {
    border: none;
    height: 1px;
    color: grey; 
    background-color: grey;
    width: 400px;
}

.row-color {
    background-image: url("https://livingwithcommoncents.files.wordpress.com/2009/09/cropped-money-header.jpg");
    color: white;
}

.about-button {
    margin-top: -5px;
}